<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540290507183-kdukqfst6s11579t1snt4b25pl0ojjkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540290507183-kdukqfst6s11579t1snt4b25pl0ojjkf</string>
	<key>API_KEY</key>
	<string>AIzaSyD6TzQlTCx2tEKgL0l3ll1TGUgDWTbXpXE</string>
	<key>GCM_SENDER_ID</key>
	<string>540290507183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>vize-030119026</string>
	<key>STORAGE_BUCKET</key>
	<string>vize-030119026.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540290507183:ios:014f2fe12dc528c47e4f5a</string>
</dict>
</plist>